<%= render "layouts/flash" %>
<div class="container">
  <div class="col-md-12 pt-3">
    <h2 class="text-center mt-5 font-weight-bold mb-4">マイページ</h2>
    <div class="border rounded mt-2 mb-2 pb-4 text-center">
    <div class="pt-3 pb-3">
    <%= attachment_image_tag @user, :image, class:"rounded-circle mb-2", size:"100x100", fallback:"no_image_icon.jpg"%> <br>
    </div>
    <div class="d-lg-flex">
    <div class="col-lg-4 col-md-12 col-sm-12 border-right">
      <h3 class="border-bottom font-weight-bold">プロフィール</h3>
      <table class="table table-borderless">
      <tr>
        <th>名前</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>メール</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>レンタル数</th>
        <td><%= @user.rentals.count %></td>
      </tr>
      <tr>
        <th colspan="2"><%= link_to "編集", edit_user_path, class:"btn btn-success w-100", local: true %></th>
      </tr>
      </table>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 border-right">
    <h3 class="border-bottom font-weight-bold">ブックマーク</h3>
    <table class="table table-borderless">
    <% @bookmarks.each do |b| %>
    <thead>
      <th>書籍画像</th>
      <th>タイトル</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if b.book.image_url.nil? %>
            <img src="/assets/no_image.png" width="100" vspace="2">
          <% else %>
            <img src="<%= b.book.image_url %>" width="100" vspace="2">
          <% end %>
        </td>
        <td class="align-middle">
          <%= b.book.title %>
        </td>
        <td class="align-middle">
        <% if b.user_id == current_user.id %>
          <%= link_to book_bookmark_path(b.book_id, current_user), method: :delete, local: true do %>
          <i class="fas fa-bookmark btn btn-danger"></i>
          <% end %>
        <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
    </table>
   </div>
   <div class="col-lg-4 col-md-12 col-sm-12 border-right">
    <h3 class="border-bottom font-weight-bold">レンタル書籍</h3>
    <table class="table table-borderless">
    <%  if @rentals.empty? %>
      <h5 class="font-weight-bold mt-5"> 借りている本はありません。</h5>
    <% else %>
    <% @rentals.each do |r| %>
    <thead>
      <th>書籍画像</th>
      <th>タイトル</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if r.book.image_url.nil? %>
            <img src="/assets/no_image.png" width="100" vspace="2">
          <% else %>
            <img src="<%= r.book.image_url %>" width="100" vspace="2">
          <% end %>
        </td>
        <td class="align-middle"><%= r.book.title %></td>
        <td class="align-middle">
        <% if r.user_id == current_user.id %>
          <%= link_to book_rental_path(r.book_id, current_user), method: :delete, local: true do %>
          <i class="fas fa-undo btn btn-danger"></i>
          <% end %>
        <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
    <% end %>
    </table>
   </div>
  </div>
  </div>
</div>