<div class="container pt-3">
<%= render "layouts/flash"%>
<h2 class="text-center mt-5 mb-5 font-weight-bold">貸出状況一覧</h2>
<table class="table">
      <thead class="thead-dark">
        <tr class="text-center">
          <th>No.</th>
          <th>利用者</th>
          <th>書籍</th>
          <th>貸出日</th>
          <th>返却予定日</th>
          <th></th>
        </tr>
        </thead>
      <% @rentals.each_with_index do |r, i| %>
        <tbody>
          <td class="text-center">
            <%= i + 1%>
          </td>
          <td class="text-center">
            <%= r.user.name %>
          </td>
          <td>
            <%= r.book.title %>
          </td>
          <td class="text-center">
            <%= r.rental_date.strftime("%y年%m月%d日%n%H時%M分") %>
          </td>
          <td class="text-center">
            <%= r.due_date.strftime("%Y年%m月%d日%n%H時%M分") %>
          </td>
          <td class="text-center">
            <% if r.user_id == current_user.id %>
              <%= link_to book_rental_path(r.book_id, current_user), class:"btn btn-danger", method: :delete, data:{ confirm: "返却してよろしいでしょうか？"}, local: true do %>
               <i class="fas fa-undo"></i>
             <% end %>
            <% end %>
          </td>
        </tbody>
      <% end %>
    </table>
</div>