<div class="container">
<div class="col-md-12 pt-3">
<h2 class="text-center">書籍登録</h2>
<div>
 <div class="col-md-12">
  <%= form_tag('/booksearch', method: :get) do %>
    <div class="input-group">
      <%= search_field_tag "keyword", params[:keyword], class: "form-control", placeholder: "キーワード検索" %>
        <span class="input-group-btn">
          <%= submit_tag "検索", class: "btn btn-primary" %>
        </span>
    </div>
  <% end %>
<h2 class="mt-5">検索結果</h2>
<% if @books.present? %>
  <% @books.each do |book| %>
     <img src="<%= book[1] %>" width="40" vspace="2">
     <%= link_to book[0], controller: "books", action: "new", title: book[0], code: book[5], author: book[2], publisher: book[3], publishedDate: book[4], img: book[1], pageCount: book[6] %>
     <%= book[2] %> | 
     <%= book[3] %>
     <%= book[4] %> 
     <%= book[5] %>
     <%= book[6] %> <br>
 <br>  <% end %>
<% end %>
</div>
<div class="col-md-12">
<%= form_with model: @book, method: :post, local: true do |f| %>
  <%= render "layouts/error_messages", resource: @book %>
  <table>
  <div class="form-group" class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class:"form-control", placeholder:"書籍のタイトルを入力してください。", value: "#{@title}"%>
  </div>
  <div class="form-group">
    <%= f.label :ISBN番号 %>
    <%= f.text_field :isbn, class:"form-control", placeholder:"13桁で入力。", value: "#{@code}"%>
  </div>
  <div class="form-group">
    <%= f.label :書籍画像 %> <br>
    <%= f.text_field :image_url, class: 'form-control', value: "#{@img}" %>
  </div>
  <div class="form-row mb-3">
    <div class="col-md-6">
    <%= f.label :著者 %>
    <%= f.text_field :author, class:"form-control", value: "#{@author}" %>
    </div>
    <div class="col-md-6">
    <%= f.label :出版者 %>
    <%= f.text_field :publisher, class:"form-control", value: "#{@publisher}" %>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col-md-3">
      <%= f.label :出版月 %> <br>
      <%= f.text_field :published_date, class:"form-control", value: "#{@published_date}" %>
    </div>
    <div class="col-md-3">
      <%= f.label :カテゴリー %> <br>
      <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください", class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :容量・ページ数 %>
      <%= f.text_field :volume, class:"form-control", size: "30", placeholder:"ページ数を入力", value: "#{@page}"%>
    </div>
    <div class="col-md-3">
      <%= f.label :部数 %>
      <%= f.text_field :stock_num, class:"form-control", placeholder:"何冊ありますか？"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "書籍登録", class:"btn btn-primary"%>
  </div>
  </table>
<% end %>
</div>
</div>
</div>
