<div class="container">
<div class="col-md-12 pt-3">
<h2 class="text-center border-bottom font-weight-bold mt-5">書籍登録</h2>
<div>
 <div class="col-md-12">
  <%= form_tag('/booksearch', method: :get) do %>
    <div class="input-group">
      <%= search_field_tag "keyword", params[:keyword], class: "form-control", placeholder: "キーワード検索" %>
        <span class="input-group-btn">
          <%= submit_tag "検索", class: "btn btn-primary" %>
        </span>
    </div>
  <% end %>
<% if @books.present? %>
<h2 class="text-center border-bottom mt-4 font-weight-bold">検索結果</h2>
  <div class="d-flex flex-wrap">
    <% @books.each do |book| %>
      <div class="book-lists col-xl-2 col-md-3 col-sm-3 col-4 mt-3 text-center small">
      <div class=" mr-1 ml-1 border rounded">
        <div class="col-12">
        <img src="<%= book[1] %>" width="100%" vspace="2">
        </div>
        <%= link_to book[0], controller: "books", action: "new", title: book[0], code: book[5], author: book[2], publisher: book[3], publishedDate: book[4], img: book[1], pageCount: book[6] %> <br>
        <%= book[2] %> <br>
        <%= book[3] %> <br>
        出版年月:<%= book[4] %> <br>
        ISBN番号: <%= book[5] %> <br>
        ページ数: <%= book[6] %> <br>
      </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
<div class="col-md-12 mt-5">
<%= form_with model: @book, method: :post, local: true do |f| %>
  <%= render "layouts/error_messages", resource: @book %>
  <table>
   <h3 class="text-danger font-weight-bold text-center">注意: カテゴリーを必ず選択してください！</h3>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class:"form-control", placeholder:"書籍のタイトルを入力してください。", value: "#{@title}"%>
  </div>
  <div class="form-group">
    <%= f.label :ISBN番号 %>
    <%= f.text_field :isbn, class:"form-control", placeholder:"13桁で入力。", value: "#{@code}"%>
  </div>
  <div class="form-group">
    <%= f.label :書籍画像 %> <br>
    <%= f.text_field :image_url, class: 'form-control', value: "#{@img}" %>
  </div>
  <div class="form-row mb-3">
    <div class="col-md-6">
    <%= f.label :著者 %>
    <%= f.text_field :author, class:"form-control", value: "#{@author}" %>
    </div>
    <div class="col-md-6">
    <%= f.label :出版者 %>
    <%= f.text_field :publisher, class:"form-control", value: "#{@publisher}" %>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col-md-2">
      <%= f.label :出版年月 %> <br>
      <%= f.text_field :published_date, class:"form-control", value: "#{@published_date}" %>
    </div>
    <div class="col-md-4">
      <%= f.label :カテゴリー %> <br>
      <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください", class:"form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :容量・ページ数 %>
      <%= f.text_field :volume, class:"form-control", size: "30", placeholder:"ページ数を入力", value: "#{@page}"%>
    </div>
    <div class="col-md-3">
      <%= f.label :部数 %>
      <%= f.text_field :stock_num, class:"form-control", placeholder:"何冊ありますか？"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "書籍登録", class:"btn btn-primary w-100"%>
  </div>
  </table>
<% end %>
</div>
</div>
</div>
