<div class="container pt-3">
  <h2 class="text-center mt-5 mb-5 font-weight-bold border-bottom">検索結果一覧</h2>
  <div class="mb-5">
    <%= render "books/search"%>
  </div>
  <% if @books== [] %>
    <h2 class = "text-center font-weight-bold mt-5 pt-5">
      検索結果はありません <br>
      検索キーワードを変えて、再検索してみてください。
    </h2>
  <% else %>
    <div class="d-flex flex-wrap">
      <% @books.each do |b| %>
        <div class="book-lists col-xl-2 col-md-2 col-sm-3 col-4 mt-3 text-center">
          <%= link_to book_path(b) do %>
            <% if b.image_url.nil? || b.image_url.empty? %>
              <img src="/assets/no_image.png" width="100" vspace="2">
            <% else %>
              <img src="<%= b.image_url %>" width="100" vspace="2">
            <% end %>
            <div class="text-center small mr-4 ml-4">
              <% if b.stock_num == 0 %>
                <div class="linkedit">
                  <%= b.title.truncate(20)%>
                </div>
              <% else%>
                <%= b.title.truncate(20)%>
              <% end %>
            </div>
            <% end %>
        </div>
      <% end %>
     </div>
  <% end %>
</div>