<%= form_with(url: search_books_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
<% if @books== [] %>
<h2 class = "seach-result">検索結果はありません</h2>
<% else %>
<div class = "book-contents">
  <ul class = "book-list">
    <% @books.each do |b| %>
    <li class = "list">
      <%= link_to book_path(b.id) do %>
      <h3 class='post-title'><%= b.title %></h3>
      <p class = "root-show">〜クリックして詳細を見る〜</p>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>