<h2>書籍詳細
<% if user_signed_in? && current_user.is_admin? %>

  <%= link_to "編集する", edit_book_path(@book), class:"btn btn-success w-25"%>
  <%= link_to "削除する", book_path(@book), method: :delete, class:"btn btn-danger w-25", data: {confirm: "削除してよろしいでしょうか？"}%>
<% end %>
</h2>

<div class="card mb-3" style="max-width: auto;">
  <div class="row no-gutters">
    <div class="col-md-4">
     <%= attachment_image_tag @book, :image, width: "100%", height:"100%", format: 'jpeg', fallback:"no_image.png" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @book.title %></h5>
        <p class="card-text">ISBN番号: <%= @book.isbn %></p>
        <p class="card-text">著者名: <%= @book.author %></p>
        <p class="card-text">出版者名: <%= @book.publisher %></p>
        <p class="card-text">出版年月: <%= @book.published_date %></p>
        <p class="card-text">カテゴリー: <%= @book.category.name %></p>
        <p class="card-text">容量: <%= @book.volume %> ページ</p>
        <p class="card-text">貸出状況: <%= @book.rental_status %></p>
        <p class="card-text"><small class="text-muted">更新日：<%= @book.updated_at.strftime('%Y年%m月%d日')%></small></p>
      </div>
    </div>
  </div>
</div>
  <div>
  <% if @book.bookmarked_by?(current_user) %>
    <%= link_to book_bookmark_path(book_id: @book.id), method: :delete, local: true do %>
     <i class="fas fa-bookmark">解除</i>
    <% end %>
  <% else %>
    <%= link_to book_bookmarks_path(book_id: @book.id), method: :post, local: true do %>
     <i class="far fa-bookmark">ブックマーク</i>
    <% end %>
  <% end %>
  </div>
  <div>
    <% if @book.stock_num > 0 %>
      <% if @book.rentaled_by?(current_user) %>
        <%= link_to book_rental_path(book_id: @book.id), method: :delete, class:"btn btn-secondary" ,local: true do %>
         返却する
        <% end %>
      <% else %>
        <%= link_to book_rentals_path(book_id: @book.id), method: :post, class: "btn btn-primary", local: true do %>
          借りる
        <% end %>
      <% end %>
    <% else %>
      <div>
      <%= link_to book_rental_path(book_id: @book.id), method: :delete, class:"btn btn-warning" ,local: true do %>
         返却する
        <% end %>
        <% unless @book.rentaled_by?(current_user) %>
        <%= link_to rentals_path do %>
        他の誰かが借りています。
        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>



