<div class="container">
  <div class="row">
  <div class="col-md-12">
  <h2>書籍詳細
  </h2>
  </div>
  </div>

  <div class="mb-3 row" style="max-width: auto;">
  <div class="row no-gutters">
    <div class="col-md-3 col-sm-5">
     <%= attachment_image_tag @book, :image, width: "300px", height:"350px", format: 'jpeg', fallback:"no_image.png" %>
    </div>
    <div class="col-md-5 offset-md-2 col-sm-5 offset-sm-2">
      <div class="card-body">
        <h5 class="card-title"><%= @book.title %></h5>
        <p class="card-text">ISBN番号: <%= @book.isbn %></p>
        <p class="card-text">著者名: <%= @book.author %></p>
        <p class="card-text">出版者名: <%= @book.publisher %></p>
        <p class="card-text">出版年月: <%= @book.published_date %></p>
        <p class="card-text">カテゴリー: <%= @book.category.name %></p>
        <p class="card-text">容量: <%= @book.volume %> ページ</p>
        <p class="card-text">貸出状況: <%= @book.rental_status %></p>
        <p class="card-text"><small class="text-muted">更新日：<%= @book.updated_at.strftime('%Y年%m月%d日')%></small></p>
        <% if user_signed_in? && current_user.is_admin? %>
          <%= link_to "編集する", edit_book_path(@book), class:"btn btn-success"%>
          <%= link_to "削除する", book_path(@book), method: :delete, class:"btn btn-danger", data: {confirm: "削除してよろしいでしょうか？"}%>
        <% end %>
          <% if @book.bookmarked_by?(current_user) %>
            <%= link_to book_bookmark_path(book_id: @book.id), method: :delete, class:"btn ", local: true do %>
            <i class="fas fa-bookmark"></i>
            <% end %>
          <% else %>
            <%= link_to book_bookmarks_path(book_id: @book.id), method: :post, class:"btn ", local: true do %>
            <i class="far fa-bookmark"></i>
            <% end %>
          <% end %>
          <% if @book.stock_num > 0 %>
            <% if @book.rentaled_by?(current_user) %>
              <%= link_to book_rental_path(book_id: @book.id), method: :delete, class:"btn btn-secondary" ,local: true do %>
              返却する
              <% end %>
            <% else %>
              <%= link_to book_rentals_path(book_id: @book.id), method: :post, class: "btn btn-primary", local: true do %>
                借りる
              <% end %>
            <% end %>
          <% else %>
            <%= link_to book_rental_path(book_id: @book.id), method: :delete, class:"btn btn-warning" ,local: true do %>
              返却する
              <% end %>
              <% unless @book.rentaled_by?(current_user) %>
              <%= link_to rentals_path do %>
              他の誰かが借りています。
              <% end %>
              <% end %>
          <% end %>
       <div>
    </div>
  </div>
</div>
</div>
</div>