<h2>書籍一覧</h2>
<% @books.each do |b| %>
  <div>
    <p書籍名
    <%= b.title %>
  </div>
  <div>
    <%= b.isbn %>
  </div>
  <div>
    <%= attachment_image_tag b, :image, size: "50x50", format: 'jpeg', fallback:"no_image.png" %>
  </div>
  <div>
    <%= b.auther %>
  </div>
  <div>
    <%= b.publisher %>
  </div>
  <div>
    <%= b.published_date %>
  </div>
  <div>
    <%= b.category_id %>
  </div>
  <div>
    <%= b.volume %>
  </div>
  <div>
    <%= b.rental_status %>
  </div>
<% end %>
<br>

<h2>書籍登録</h2>
 <%= render "books/new", book: @book %>